body{
    background-color: #f6f6f6;
    text-transform: capitalize;

    font: {
        family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        size: 16px;
    }
}
ul,ol{
    list-style: none;
    padding: 0;
}